<div class="container-fluid" style="height:1200px;">
 <h2></h2>
    @for (int i = 0; i < @ViewBag.para.GetLength(0); i++)
    {
        if(@ViewBag.para[i, 0] == null){
      
        break;
        
        }

        @:<h3 style="margin:0px; font-family:Georgia;" class="Paratitle">@ViewBag.para[i, 0]</h3>
        @: <div class="jumbotron" style="padding:15px; padding-bottom:5px;">
            @:<p style="font-size:1.2em;">
                @ViewBag.para[i, 1]
            @: </p>
        @:</div>


    }

</div>

