<div class="container-fluid" style="height:1200px;">

    <h6 style="margin:0px; font-family:Georgia;" class="Paratitle">Beginning</h6>
    <h3></h3>
    <div class="jumbotron" style="padding:15px; padding-bottom:5px;">
         <p style="font-size:1.2em;">
            The Islamic Center of Mississippi is an independent organization associated with the Muslim
            Student Association of Mississippi State University but represents
            a widely diverse community of local Muslims in the region. The masjid belonging to the organization was constructed from
            the ground up in 1992 near the Mississippi State campus. It includes plenty of prayer space as well as for classes, recreation and
            accommodates a large number of worshipers in the main hall.
        </p>
    </div>

    <h3 style="margin:0px; font-family:Georgia;" class="Paratitle">Function</h3>
    <h3></h3>
    <div class="jumbotron" style="padding:15px; padding-bottom:5px;">
        <p style="font-size:1.2em;">The function of the Islamic Center is to offer its members a place to practice and share the beautiful message of Islam by providing religious, educational and recreational facilities.Tthe Islamic Center of Mississippi and the Muslim Student Association work together to educate the wider public in Starkville about Islam through lecture series, talks and festivals. Activities at the center include gatherings, monthly potlucks, and discussion sessions.</p>
    </div>

    <h3 style="margin:0px; font-family:Georgia;" class="Paratitle">Mosque Design</h3>
    <h3></h3>
    <div class="jumbotron" style="padding:15px; padding-bottom:5px;">
        <p style="font-size:1.2em;">The mosque itself has two floors. On the first floor there is a large main hall for prayers 
        which can easily accommodate around 300 men. There is a ladies’ prayer area to accommodate about 40 women. 
        There is also a library with a collection of islamic literature and others.
        The ground floor has a community hall, a classroom, and a fully equipped kitchen</p>
    </div>

</div>

