h5 {
    font-family:Georgia;
    color:chocolate;
    font-size:larger;
}
body {
    background-color:blue;
    margin: 0px;
    padding-left: 0px;
    font-family: "Lato", sans-serif;
    background-repeat: no-repeat;
    background-size: 1600px 1000px;
}

.header {
    background-color: cornflowerblue;
    color: #f1f1f1;
    z-index: 1;

}
.navbaredit {
    margin: 0px;
}

h2 {
    font-family: "Lato", sans-serif;
    color: aliceblue;
}
h4 {
    color: antiquewhite;
    font-family: 'Javanese Text';
}

li {
    margin: 5px;
    margin-right: 20px;
}

.padd {
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 1px;
}
#color{
    background-color:maroon;
}
nav {
    z-index: 1;
    margin: 0px;
}
/** Sticky Nav bar css*/
.content {
    padding: 16px;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%
}

    /* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
    .sticky + .content {
        padding-top: 102px;
    }